nav button {
  margin-right: 10px;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  font-size: 4rem;
  letter-spacing: 1.5px;
  background-color: #212529;
  color: white;
}
.main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  white-space: pre;
}
.btnGroup {
  padding-right: 20px;
}
.homeBtn {
  border: 4px solid #1ba098;
  font-size: x-large;
  min-height: 70px;
  transition: all 0.1s ease-in-out;
  color: #1ba098;
  margin: 0 40px;
  border-radius: 5px;
  background-color: #212529;
  letter-spacing: 2px;
}
.tabBtn {
  border: 4px solid #1ba098;
  font-size: x-large;
  min-height: 50px;
  transition: all 0.1s ease-in-out;
  color: #1ba098;
  margin: 20px 40px;
  border-radius: 5px;
  background-color: #212529;
  letter-spacing: 2px;
}
.tabBtn:active {
  background-color: #1ba098;
}

.homeBtn:hover,
.createBtn:hover {
  background-color: #1ba098;
  box-shadow: 0 0 12px 0 #1ba098;
  color: white !important;
  transform: scale(1.01);
}
.myModal {
  margin-top: 50px;
}

.close {
  font-size: 20px;
}
.bodyModal {
  border: 8px solid #1ba098;
  background-color: white;
  color: #1ba098;
}

.createBtn {
  background-color: #1ba098;
}
